<!DOCTYPE html>
<html>
  <head>
    <!-- include our dependency on angular -->
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="avatar.js"></script>
    <link rel="stylesheet" type="text/css" href="avatar.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>User Avatar Template</title>
  </head>
  <body>
    <div ng-app='app' ng-controller='mainCtrl'> <!-- [1],[2] -->
      <div class='MainContent container-fluid'>
        <h1 class='TopHeader'>Create a new user</h1>
        <form class='MainForm' name='userForm' ng-submit='addNew(userForm)'> <!-- [1], [2] -->
          <input placeholder='Name' ng-model='userForm.name'/> <!-- [3] -->
          <input placeholder='Email' ng-model='userForm.email'/>
          <input placeholder='Image Url' ng-model='userForm.url'/>
          <button type='submit'>Add New</button>
        </form>
      </div>
      <ul class='User-list'>
        <li ng-repeat='user in users'>
          <avatar user='user'></avatar>
        </li>
      </ul>
      <div class='ExtraDirective container-fluid'>
        <h2 class='TopHeader'>Custom Directive</h2>
        <p>Post a comment!</p>
        <form class='MainForm' name='commentForm' ng-submit='addComment(commentForm)'>
          <input placeholder='Comment' ng-model='commentForm.comment'/>
          <button type='submit'>Post</button>
        </form>
      </div>
      <ul class='User-list'>
        <li ng-repeat='comment in comments'>
          <comment comment='comment'></comment>
        </li>
      </ul>
    </div>
  </body>
</html>
